body,
html {
	width: 100%;
	height: 100%;

}

.app-title {
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 30px;
}

.container {
	margin: 0 auto;
	max-width: 90%;
	padding: 40px 0;
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}

.input-block {
	max-width: 370px;
	width: 100%;
}

.block-title {
	font-size: 45px;
	font-weight: 400;
	margin-bottom: 40px;
	text-align: center;
}

.input-label {
	font-size: 35px;
	margin-bottom: 12px;
}

.input-field {
	width: 340px;
	font-size: 25px;
	padding: 12px;
	border: 1px solid #000000;
	border-radius: 15px;
	margin-bottom: 20px;
}

.select-field {
	width: 100%;
}

.output-block {
	max-width: 370px;

}

.mem-image-output {
	color: aliceblue;
	position: relative;
	max-width: 100%;
	border: 1px solid #000000;
}
.mem-image {
	z-index: 0;
	max-width: 100%;
	height: auto;
}

.mem-text {
	cursor: grab;
	position: absolute;
	z-index: 100;
	text-align: center;
	font-size: 26px;
	font-weight: 700;
	-webkit-text-stroke: 1px #000000;
	text-stroke: 1px #000000;
}

