body,
html {
	width: 100%;
	height: 100%;

}

.app-title {
	text-align: center;
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 30px;
}

.container {
	margin: 0 auto;
	max-width: 1150px;
	display: flex;
	justify-content: center;
	align-items: start;
	gap: 30px;
	flex-wrap: wrap;
	padding: 40px 0;
}

.input-block {
	max-width: calc(50%-15px);
}

.block-title {
	font-size: 45px;
	font-weight: 400;
	margin-bottom: 40px;
	text-align: center;
}

.input-wrapper {}

.input-label {
	font-size: 35px;
	margin-bottom: 12px;
}

.input-field {
	font-size: 25px;
	padding: 12px 100px 12px 20px;
	border: 1px solid #000000;
	border-radius: 15px;
	margin-bottom: 20px;
}

select {
	width: 395px;
}

.output-block {
	max-width: calc(50%-15px);
}

.mem-image-output {
	border: 1px solid #000000;
	display: flex;
	font-size: 32px;
	position: relative;
	/* flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50%; */
	max-width: 50%;
	max-height: 500px;
}

.mem-text {}

.top-text-output {
	top: 20%;
	left: 50%;
	cursor: grab;
	position: absolute;
	z-index: 9;
	/* background-color: #f1f1f1; */
	/* border: 1px solid #d3d3d3; */
	text-align: center;
}

.bottom-text-output {
	top: 70%;
	left: 50%;
	cursor: grab;
	position: absolute;
	z-index: 9;
	/* background-color: #f1f1f1; */
	/* border: 1px solid #d3d3d3; */
	text-align: center;
}